@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
@import "tailwindcss";

@theme inline {
  --color-primaryColorBlue: #016b7e;
  --color-secondColorBlack: #2b2b2b;
  --color-auxiliaryColorOrange: #f5a623;
  --color-auxiliaryColorGray: #e2e8f0;
  --color-auxiliaryColorWhite: #ffffff;
  --color-header: #e2e8f0;
  /*   --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
}

@layer {
  .cusContaner {
    @apply w-[80%];
  }
  .cusFeatcherBtn {
    @apply py-2 px-6 flex items-center justify-center;
  }
  .btnActive {
    @apply bg-primaryColorBlue text-auxiliaryColorWhite font-bold rounded-lg;
  }
  .btnActiveSing {
    @apply bg-auxiliaryColorWhite py-2 rounded-sm  items-center text-secondColorBlack font-bold;
  }
  .errorMessageStayle {
    @apply my-2 pr-2 text-[70%] font-bold text-red-500;
  }
}

body {
  font-family: "Cairo", sans-serif;
}
